{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-scss",
    "stylelint-declaration-use-variable"
  ],
  "rules": {
    "sh-waqar/declaration-use-variable": ["/color/", "z-index", "font-size"]
  }
}