@import '../../variables';

$inventory-item-size: 100px;

.Inventory {
  display: grid;
  grid-area: Inventory;
  grid-template-areas:
    "EquippedItems ."
    "InventoryItems InventoryItemDetails";
  grid-template-columns: 2fr 1fr;
  grid-gap: $grid-gap-medium;
}

.Inventory-items {
  display: grid;
  grid-area: InventoryItems;
  grid-gap: $grid-gap-small;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, $inventory-item-size);
}
