@import '../../variables';

$inventory-item-size: 120px;

.Inventory {
  display: grid;
  grid-area: Inventory;
  grid-template-areas: "InventoryItems InventoryItemDetails";
  grid-template-columns: 2fr 1fr;
  grid-gap: 2rem;
}

.Inventory-items {
  display: grid;
  grid-area: InventoryItems;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax($inventory-item-size, min-content));
}

.Inventory-item {
  background-color: #ccc;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: $border-width solid #000;
  border-radius: $border-radius;
  width: $inventory-item-size;
  height: $inventory-item-size;
}

.Inventory-item--engine {
  background-image: url('../../images/items/engine-item-placeholder.png');
}

.Inventory-item--transmission {
  background-image: url('../../images/items/transmission-item-placeholder.png');
}

.Inventory-item--tire {
  background-image: url('../../images/items/tire-item-placeholder.png');
}

.Inventory-item--empty {
  background-color: #888;
}

.Inventory-item--selected {
  border-color: $primary-color;
}

.Inventory-item--vendor-accent {
  box-shadow: 10px 10px 10px 10px #f80;
}
