.App {
  display: grid;
  grid-gap: 2rem;
  grid-template-areas:
    "AppTitle AppTitle"
    "EquippedItems ScoreTable"
    "Inventory Inventory";
  grid-template-columns: 2fr 1fr;
  max-width: 1000px;
  margin: 0 auto;
}
