@import '../../variables';

.EquipRegion {
  display: grid;
  grid-gap: $grid-gap-small/2;
  grid-template-areas:
    "InventoryItem"
    "EquippedItemDetails";
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;
}
