@import '../../variables';

.Navbar {
  border-bottom: $border-width solid $black;
}

.Navbar__ContentMargin {
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-area: Navbar;
  grid-gap: $grid-gap-large;
  grid-template-areas: "AppTitle Navigation";
  grid-template-columns: auto 1fr;
}

.AppTitle {
  grid-area: AppTitle;
  margin: 0;
}

.Navigation {
  display: grid;
  grid-area: Navigation;
  grid-auto-columns: minmax(100px, max-content);
  grid-auto-flow: column;
  grid-gap: $grid-gap-small;
  height: $navbar-height;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.NavigationItem {
  align-items: stretch;
  display: grid;
  justify-items: stretch;
}

.NavigationItem__anchor {
  align-items: center;
  display: grid;
  justify-items: center;
  text-decoration: none;
}
