@import '../../variables';

.EquipRegionPlaceholder {
  display: grid;
  grid-gap: $grid-gap-small/2;
  grid-template-areas:
    "InventoryItem"
    "EquippedItemDetails";
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;
}

.EquipRegionPlaceholder__Item {
  background-color: $gray-light;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: $border-width solid $black;
  border-radius: $border-radius;
}

.EquipRegionPlaceholder__Details {
  border: $border-width solid $black;
  border-radius: $border-radius;
  grid-area: EquippedItemDetails;
}

.EquipRegionPlaceholder__Title {
  font-size: $font-size-header;
}
