@import '../../variables';

.InventoryItem {
  background-color: $gray-light;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: $border-width solid $black;
  border-radius: $border-radius;
}

.InventoryItem--engine {
  background-image: url('../../images/items/engine-item-placeholder.png');
}

.InventoryItem--transmission {
  background-image: url('../../images/items/transmission-item-placeholder.png');
}

.InventoryItem--tire {
  background-image: url('../../images/items/tire-item-placeholder.png');
}

.InventoryItem--empty {
  background-color: $gray;
}

.InventoryItem--selected {
  border-color: $primary-color;
}

.InventoryItem--vendor-accent {
  box-shadow: 10px 10px 10px 10px #f80;
}
