$white: #fff;
$gray-light: #dfe2e5;
$gray: #c2c9cf;
$gray-dark: #888;
$black: #111;
$primary-color: #08f;
$link-color: #48f;
$link-hover-color: #248;
$data-hover-color: transparentize($primary-color, 0.8);
$unset: unset;

$font-size: 1.6rem;
$font-size-header: 2rem;

$grid-gap-small: 1rem;
$grid-gap-medium: 2rem;
$grid-gap-large: 3rem;

$item-details-padding-y: $grid-gap-small;
$item-details-padding-x: $grid-gap-small;

$border-width: 2px;
$border-radius: 2px;

$navbar-height: 6rem;
