$white: #fff;
$black: #111;
$primary-color: #08f;
$link-color: #48f;
$link-hover-color: #248;

$font-size: 1.6rem;
$font-size-header: 2rem;

$grid-gap-small: 1rem;
$grid-gap-medium: 2rem;
$grid-gap-large: 3rem;

$border-width: 2px;
$border-radius: 4px;

$navbar-height: 6rem;
